.create-user-section {
    display: flex;
    flex-direction: column;
}

.encabezado {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin: 5px auto 10px 10px;
}

.select-user-section {
    max-width: 300px;
    max-height: 20px;
}

.form-section-noButton {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
    width: 100%;
}

@media (max-width: 730px) {
    .form-section-noButton{
        grid-template-columns: 1fr;
    }
}

.subsection-form {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 8px;
}

.subsection-form label {
    white-space: nowrap;
}

.button-form {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 20px;
    margin: 10px auto;
}