.footer {
    background-color: var(--official-Color-Stenella);
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}