.hourDateDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  height: 40px;
  gap: 20px;
}
/*
.hourDateDisplay > p {
  transform: translateX(100%);
}

@media (max-width: 930px){
  .hourDateDisplay > p{
    transform: translateX(0%);
  }
} */