.login {
  flex: 1;
  width: auto;
  height: 150px;
  margin: 30px 30px 10px 10px;
  padding: 10px;
  /* background-color: rgba(49, 212, 230, 0.382); */
  /* background: rgba(255, 255, 255, 0.92); */
  border: 1px solid rgb(0, 0, 0);
  border-radius: 16px;
  /* box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25); */
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
}

.login p {
  font-size: 1.4em;
  font-weight: 600;
  color: var(--official-Color-Stenella);
  margin: 0;
}

.login form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
