.team-name {
  font-size: xx-large;
  font-weight: 900;
  margin-bottom: 10px;
}

.match-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.table-title {
  margin: 10px auto 4px 5px;
}

.match-stats-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.match-stats-table th,
.match-stats-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.match-stats-table th {
  background-color: var(--official-Color-Stenella);
  color: whitesmoke;
  font-weight: bold;
}

.match-stats-table tr:nth-child(even) {
  background-color: #fafafa;
}

.match-stats-table tr:hover {
  background-color: #f86c6c;
}

.inputTdNumbers {
  width: 30px;
  text-align: center;
}