.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(127, 255, 212, 0.3);
}

.matches-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.match-item {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.match-item:hover {
    background-color: var(--official-Color-Stenella);
    color: whitesmoke;
}

.ulist-menu {
    list-style: none;
    padding: 5px 10px;
    margin: 5px;
}

.opciones h4{
    margin: 3px 0;
}

.logout {
    margin: auto;
}