.menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: rgba(127, 255, 212, 0.3);
}

.matches-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.match-item {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.match-item:hover {
    background-color: var(--official-Color-Stenella);
    color: whitesmoke;
}

.itemHover:hover {
    cursor: pointer;
    background-color: var(--official-Color-Stenella);
    color: whitesmoke;
}

.ulist-menu {
    list-style: none;
    padding: 5px 10px;
    margin: 5px;
}

.opciones h4{
    margin: 3px 0;
}

.logout {
    margin: 10px auto;
}

.addMatch:hover {
    background-color: var(--official-Color-Stenella);
    color: whitesmoke;
    cursor: pointer;
    padding: 3px;
    border-radius: 8px;
}

.matches-list {
    margin: 6px 5px 6px 15px;
}

.list-teamMister {
    list-style: none;
    padding: 0;
    margin: 0;
}

.equipos h3{
    margin: 7px 10px
}

#single {
    background-color: rgba(127, 255, 212, 0.3);
}

.teamName {
    margin: 7px 10px;
}

.teams {
    cursor: pointer;
    list-style: none;
}

.teams:hover {
    background-color: var(--official-Color-Stenella);
    color: whitesmoke;
    padding: 7px 10px;
    border-radius: 8px;
}

.matchByTeam:hover {
    background-color: var(--official-Color-Stenella);
    color: whitesmoke;
    cursor: pointer;
}

.submenu {
    list-style: none;
}